body {
  margin: 0;
  position: relative;
  font-family: Poppins;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
}

.logo {
  margin: 0;
  color: #1090cb;
  font-size: 1.8125rem;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  gap: 20px;
}

.item {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  position: relative;
  max-height: 1.5625rem;
}

.contato {
  text-decoration: none;
  font-size: 1rem;
  background: #1090cb;
  color: white;
  border-radius: 0.4375rem;
  padding: 0.625rem;
}

.retang1 {
  width: 100%;
  height: max-content;
  background-color: #e7f4fa;
  display: flex;
  align-items: center;
  flex: 1 1 580px;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 span {
  color: #1090cb;
}

.conteudo1 {
  max-width: 33.4375rem;
  margin: 0;
  font-size: 1.5625rem;
  text-decoration: none;
  padding-top: 1%;
  /* padding-left: 20%; */
  width: 100%;
  font-weight: 600;
}

.conteudo2 {
  max-width: 33.4375rem;
  font-size: 1rem;
  /* padding-left: 14%; */
  font-weight: 300;
  color: #5c5c5c;
}

.conteudo2 p {
  /* text-align: left;
    justify-content: start; */
}

.contact-us {
  font-size: 1rem;
  background: #1090cb;
  padding: 1.25rem;
  border-radius: 0.4375rem;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-top: 6.25rem;
}

.view-more {
  font-size: 1rem;
  background: #ffffff;
  padding: 1.25rem;
  border: 1px solid #1090cb;
  border-radius: 0.4375rem;
  color: #1090cb;
  text-decoration: none;
}

.botoes {
  margin-top: 50px;
}

.box-right {
  position: relative;
}

.etapa1 .ph3 {
  position: relative;
  left: 55px;
  width: 415px;
  text-align: left;
}

.vector1 {
  position: absolute;
  right: 0;
  top: 7%;
}

.vector2 {
  position: absolute;
  top: 14.375rem;
  left: 0;
}

.especificidades {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.875rem;
  flex: 1 1 350px;
  flex-wrap: wrap;
}

.especificidades-item {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  width: 287px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content h3 {
  margin: 0 0 0.3125rem 0;
  font-size: 1.125rem;
}

.text-content p {
  margin: 0;
  font-size: 0.9375rem;
  color: #969696;
}

.roxo {
  background: #efeaff;
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  margin-right: 0.625rem;
}

.verde {
  background: #ecffda;
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  margin-right: 0.625rem;
}

.nude {
  background: #ffe5da;
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  margin-right: 0.625rem;
}

.line-gray {
  border-bottom: 1px solid #c7c7c7;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.ciclo h2,
.ciclo p {
  text-align: center;
}

.ciclo h2 {
  font-size: 2.0625rem;
  font-weight: 600;
  margin-bottom: 0;
}

.ciclo p {
  font-size: 1.125rem;
  color: #868686;
  font-weight: 400;
  margin-bottom: 1%;
}

.etapas {
  display: flex;
  justify-content: center;
}

.etapa1 {
  display: flex;
  position: absolute;
  left: 100px;
  text-align: center;
  flex-direction: column;
  width: 650px;
}

.etapa1 h3 {
  font-size: 1.0625rem;
  margin-left: 175px;
}

.img {
  margin-left: 700px;
  border-left: 1px solid #e2e2e2;
  padding-left: 210px;
}

.etapa1 h3 span {
  color: #1090cb;
}

.etapa1 p {
  font-size: 1rem;
  color: #545454;
  margin-left: 175px;
  text-align: left;
}

.happy1 {
  background: #08d3bb;
  padding: 0.625rem;
  border-radius: 1.5625rem;
  position: absolute;
  margin-left: 35%;
  margin-top: 0.625rem;
}

.happy2 {
  background: #1090cb;
  padding: 0.625rem;
  border-radius: 1.5625rem;
  position: absolute;
  left: 125px;
  top: 10px;
}

.title-auxiliar {
  font-size: 1.875rem;
  margin-left: 1.875rem;
}

.img-2 {
  position: relative;
  margin-right: 725px;
  margin-top: 125px;
}

.pontilhado {
  position: absolute;
  left: 280px;
  margin-top: 15px;
  z-index: -1;
}

.etapa2 {
  display: flex;
  position: absolute;
  left: 900px;
  top: 1660px;
  text-align: center;
  flex-direction: column;
  width: max-content;
}

#h3-desenvlayout {
  position: relative;
  left: 181px;
}

.etapa2 .ph3 {
  position: relative;
  left: 175px;
  width: 267px;
  text-align: left;
}

.etapa2 h3 {
  font-size: 1.0625rem;
}

.etapa2 p {
  left: 30px;
  position: relative;
  font-size: 1rem;
  color: #545454;
  /* margin-left: 10%; */
  text-align: left;
}

.etapa2 h3 span {
  color: #1090cb;
}

.etapa3 h3 {
  position: relative;
  font-size: 1.0625rem;
  right: 20px;
}

#h3-letscode {
  right: 80px;
  bottom: 3px;
}

.etapa3 h3 span {
  color: #1090cb;
}

.etapa3 p {
  margin-left: 130px;
  font-size: 1rem;
  color: #545454;
  text-align: left;
  position: relative;
}

.etapa3 {
  display: flex;
  position: absolute;
  left: 220px;
  top: 2310px;
  text-align: center;
  flex-direction: column;
  width: 650px;
}

.happy3 {
  background: #9208d3;
  padding: 0.625rem;
  border-radius: 1.5625rem;
  position: absolute;
  margin-left: 20%;
}

.card-cinza {
  background: #f4f4f4;
  max-width: 440px;
  max-height: 440px;
  border-radius: 10px;
}

.card-cinza p {
  color: #545454;
}

.card-cinza h1 {
  color: #252525;
}

.card-azul {
  background: #1090cb;
  max-width: 440px;
  max-height: 440px;
  border-radius: 10px;
}

.card-azul h1 {
  color: white;
}

.card-azul p {
  color: white;
}

.cards {
  flex-wrap: wrap;
  height: max-content;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 150px;
  flex: 1 1 440px;
}

.cards h1 {
  text-align: center;
}

.cards p {
  text-align: center;
  margin: 10%;
}

.ciclo {
  margin: 0;
  padding: 0;
}

.retang2 {
  width: 100%;
  height: 30.5rem;
  background-color: #e7f4fa;
}

#email {
  color: #787878;
  font-family: Poppins;
  font-size: 16px;
}
#celular {
  color: #787878;
  font-family: Poppins;
  font-size: 16px;
}
.form-contato {
  display: flex;
  flex: 1 1 370px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.form-contato input,
button {
  margin-left: 15px;
}

.campos input {
  padding: 15px 30px;
  border-radius: 10px;
  border: 0px;
}

button {
  display: inline-block;
  width: auto;
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  background: black;
  color: #e7f4fa;
  border: 0px;
  font-family: Poppins;
}

.star {
  position: absolute;
  margin-top: -45px;
  margin-left: 300px;
}

.arroba {
  position: absolute;
  bottom: 190px;
  right: 330px;
}

.container-contato {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.container-contato h1 {
  margin-top: 30px;
  padding: 60px;
}

.rodape {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}

.rodape a {
  text-decoration: underline;
  font-family: Poppins;
  color: #5fa9c0;
  display: flex;
  font-weight: 600;
}

.rodape img {
  height: 60px;
  align-items: end;
}

.logorodape {
  margin: 0;
  color: #1090cb;
  font-size: 1.5rem;
}

.contate-rodape {
  margin: 0;
  font-size: 1.5rem;
}

footer {
  position: relative;
  text-align: center;
}

.line-gray2 {
  border-bottom: 1px solid #c7c7c7;
  margin-top: 2.5rem;
}
